:root{
    --primary-color:#fff;
    --font-color:#000;
}
.dark-theme{
    --primary-color:#181818;
    --font-color:#fff;

}

body,table{
    background-color: --var(--primary-color);
    color:--var(--font-color)
}
.navbar{
    background-color: #141414;
}
.toggle-container{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    
}